.navbar-dark .navbar-nav .nav-link {
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: black;
    
}
.sticky-top {
    background-color: white !important;
    color: black;
}